.div-flex{
  display: flex;
  background-color: aquamarine;
  height: 100vh; 
  width: 100%;
}

.div-flex button{
  border-radius: 25px;
  width: 200px;
  height: 50px;
}

.div-flex-input{
  width: 50%;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.div-ident{
  border-radius: 25px 25px 0px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 60px;
  width: 45rem;
  background-color: rgb(117, 40, 136);
}

.div-ident h1{
  color: rgb(175, 175, 175);
}

.div-buttom{
  border-radius: 0px 0px 25px 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 60px;
  width: 45rem;
  background-color: rgb(117, 40, 136);;
}

.div-input{
  display: flex;
  filter: drop-shadow(0px 0px 10px  black);
  background-color: rgb(117, 40, 136);
  height: 300px;
  width: 45rem;
  border: 0px 1.5px 1.5px solid black;
  /* border-radius: 25px 25px 0px 0px; */
  justify-content: center;
  align-items: center;
  position:relative;
  flex-direction: column;
}

.div-input label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
}

.div-input input {
  border: 1px solid black;
  margin: 10px;
  color: black;
  background-color: white;
  border-radius: 5px;
  width: 30rem;
  height: 30px;
}

.div-lista-flex{
  display: flex;
  background-color: rgb(252, 252, 255);
  width: 50%;
  justify-content: center;
  align-items: center;
}


.div-lista{
  display: flex;
  background-color: rgb(117, 40, 136);
  width: 50rem;
  height: 85vh;
  margin: 30px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  filter: drop-shadow(0px 0px 10px black);
}

.list{
  height: 36rem;
  margin: 20px;
  width: 40rem;
  border-radius: 25px;
  border: 1.5px solid black ;
  background-color: rgba(78, 4, 62, 0.719);
  backdrop-filter: blur(50px);
  font-size: 28px;

}
